input[type='checkbox'] {
    width:30px;
    height:30px;
    background:white;
    border-radius:5px;
    border:2px solid #555;
}

textarea {
    min-height: 100px;
}

div {
    margin-top: 4px;
}

button {
    margin-bottom: 30px;
}