<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="container">
                <div class="row">
                    <div class="col-sm-offset-2 col-sm-8">
                        <culture-selector></culture-selector>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="class='col-sm-12">
            <directory-form></directory-form>
        </div>
    </div>
</div>